@model IEnumerable<HGGM.Models.Events.Event>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer lang

@{
    ViewData["Title"] = lang["title"];
}

<div class="column is-centered">
    <nav class="panel">
        <p class="panel-heading">@lang["tableHeading"]</p>
        <div class="panel-block">
            <table id="eventTable" class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>@lang["eventName"]</th>
                        <th>@lang["eventAuthor"]</th>
                        <th>@lang["eventPublisher"]</th>
                        <th>@lang["creationDate"]</th>
                        <th>@lang["publishedDate"]</th>
                        <th>@lang["eventDateTakesPlace"]</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Author</td>
                        <td>@item.Publisher</td>
                        <td>@item.Created</td>
                        <td>@item.Published</td>
                        <td>@item.TakesPlace</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-fw fa-edit"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-fw fa-search"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </nav>
</div>
@section Scripts{
    <script language="javascript">
        $("#eventTable").DataTable();
    </script>
}