@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Identity.Role

@{
    ViewData["Title"] = L["tabTitle"];
}

<h2>@L["deletePageTitle"]</h2>

<h3>@L["areYouSure"]</h3>
<div>

    <h4>@Model.Name</h4>
    <hr/>

    <form asp-action="Delete">
        <div>
            <button type="submit" class="button is-link">@L["confirmButton"]</button>
        </div>
        <a asp-action="Index">@L["backToListButton"]</a>
    </form>
</div>
