@inject IViewLocalizer L
@using Microsoft.AspNetCore.Mvc.Localization
@model HGGM.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = L["tabTitle"];
}

<h2>@L["editPageTitle"]</h2>

<h4>@Model.Name</h4>
<hr/>
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="field">
                <div class="control">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="input" type="text"/>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="field">
                <label class="label">@L["simplePerms"]</label>
                @foreach (var perm in Model.SimplePermissions.Keys)
                {
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" asp-for="@Model.SimplePermissions[perm]"/>
                            @perm
                        </label>
                    </div>
                }
            </div>
            <div class="field is-grouped">
                <button id="Button_Save" type="submit" class="button is-link">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@L["backToListButton"]</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}