@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model IEnumerable<HGGM.Models.Identity.Role>

@{
    ViewData["Title"] = "Index";
}

<h2>@L["indexViewPageTitle"]</h2>

<p>
    <a asp-action="Create">@L["createNewButton"]</a>
</p>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>@L["nameTableHeader"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }

    </tbody>
</table>
