@model HGGM.ViewModels.AuditDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuditEntryBase</h4>
    <hr/>
    <div class="content">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
        </dl>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (key, value) in Model.Properties)
        {
            <tr>
                <th>@key</th>
                <td><pre>@value</pre></td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>