@using System.Globalization
@using Humanizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<AuditEntryBase>
@inject IViewLocalizer Localize

@{
    ViewData["Title"] = Localize["title"];
}

<table class="table is-fullwidth is-hoverable" id="auditTable" data-order='[[ 1, "dsc" ]]'>
    <thead>
    <tr>
        <th>
            @Localize["timestampHeader"]
        </th>
        <th>
            @Localize["messageHeader"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-order="@item.Time.ToUnixTimeSeconds()">
                <abbr title="@item.Time.ToString()">@item.Time.Humanize(culture: CultureInfo.CurrentCulture)</abbr>
            </td>
            <td>
                @item.Message
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script language="javascript">
        $("#auditTable").DataTable();
    </script>
}