@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ExternalLoginModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
}



<div class="column is-half">
    <h2 class="title">@ViewData["Title"]</h2>
    <hr/>

    <p>
        @lang["description"]
    </p>
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <hr/>
        <div class="field">
            <label class="label">@lang["username"]</label>
            <div class="control">
                <input class="input form-control" type="text" asp-for="Input.UserName"/>
                <span asp-validation-for="Input.UserName" class="has-text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["email"]</label>
            <div class="control">
                <input asp-for="Input.Email" class="input"/>
                <span asp-validation-for="Input.Email" class="has-text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["dateofbirth"]</label>
            <div class="control">
                <input asp-for="Input.DateOfBirth" type="Date" class="input"/>
                <span asp-validation-for="Input.DateOfBirth" class="has-text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["teamspeak"]</label>
            <div class="control">
                <input asp-for="Input.TeamspeakUID" class="input"/>
                <span asp-validation-for="Input.TeamspeakUID" class="has-text-danger"></span>
                <a onclick="$('#modal-bis').addClass('is-active');">@lang["how"]</a>
            </div>
        </div>
        <div>

            <markdown>@lang["tos"]</markdown>
        </div>
        <div class="field is-grouped" style="margin-top: 1rem">
            <div class="control">
                <button type="submit" class="button is-link">@lang["register"]</button>
            </div>
        </div>
    </form>
</div>

<div id="modal-bis" class="modal" onclick="$('#modal-bis').removeClass('is-active');">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="https://lh3.googleusercontent.com/NqMs0cOClNPfV2x5r0EjyLxAINVNcZkI0uwOOGzNQoWf16WXyB6Mq-6C2niUCZDeNCTk7juAjA=w706" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}