@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ExternalLoginModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
}

<h2 class="title">@ViewData["Title"]</h2>
<hr/>

<p>
    @lang["description"]
</p>

<div class="is-one-quarter">
    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Create a new account.</h4>
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="field">
            <label class="label">@lang["username"]</label>
            <div class="control">
                <input class="input form-control" type="text" asp-for="Input.UserName"/>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["email"]</label>
            <div class="control">
                <input asp-for="Input.Email" class="input form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["dateofbirth"]</label>
            <div class="control">
                <input asp-for="Input.DateOfBirth" class="input form-control"/>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["teamspeak"]</label>
            <div class="control">
                <input asp-for="Input.TeamspeakUID" class="input form-control"/>
                <span asp-validation-for="Input.TeamspeakUID" class="text-danger"></span>
                <a onclick="$('#modal-bis').addClass('is-active');">@lang["how"]</a>
            </div>
        </div>
        <div>
            @lang["tos1"] <a href="#">@lang["tos2"]</a>
            @lang["tos3"] <a href="#">@lang["tos4"]</a>
        </div>
        <div class="field is-grouped" style="margin-top: 1rem">
            <div class="control">
                <button type="submit" class="button is-link">@lang["register"]</button>
            </div>
        </div>
    </form>
</div>

<div id="modal-bis" class="modal" onclick="$('#modal-bis').removeClass('is-active');">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="https://lh3.googleusercontent.com/NqMs0cOClNPfV2x5r0EjyLxAINVNcZkI0uwOOGzNQoWf16WXyB6Mq-6C2niUCZDeNCTk7juAjA=w706" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}