@using System.Threading
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HGGM</title>

    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://417rct.org/themes/fabriciorabelo-squad/assets/images/417LogoPath.svg" width="60" height="40">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    Events
                </a>

                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    Videos
                </a>

                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    Donate
                </a>

                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    Status
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <hr />
    <footer class="footer">
        <details class="content">
            <summary>&copy; 2018 - HGGM</summary>
            <dl>
                <dt>Request</dt>
                <dd>@Context.Request.GetDisplayUrl() at @DateTimeOffset.Now.ToString()</dd>
                @if (User.Identity.IsAuthenticated)
                {
                    <dt>User</dt>
                    <dd>@User.Identity.Name using @User.Identity.AuthenticationType</dd>
                }
                <dt>Connection</dt>
                <dd>[@Context.Connection.RemoteIpAddress]:@Context.Connection.RemotePort - [@Context.Connection.LocalIpAddress]:@Context.Connection.LocalPort</dd>
                <dt>User languages</dt>
                <dd>@Context.Request.Headers["Accept-Language"].ToString()</dd>
                <dt>Server language</dt>
                <dd>Culture: @Thread.CurrentThread.CurrentCulture, UI: @Thread.CurrentThread.CurrentCulture</dd>
                <dt>Chosen language</dt>
                @{
                    var rf = Context.Features.Get<IRequestCultureFeature>();
                    var culture = rf.RequestCulture.Culture;
                    var uiCulture = rf.RequestCulture.UICulture;
                    var setBy = rf.Provider.GetType().Name;
                }
                <dd>Culture: @culture, UI: @uiCulture, Set by: @setBy</dd>
            </dl>
        </details>
    </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>