@using System.Threading
@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HGGM</title>

    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">HGGM</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <details>
            <summary>&copy; 2018 - HGGM</summary>
            <dl>
                <dt>Request</dt>
                <dd>@Context.Request.GetDisplayUrl() at @DateTimeOffset.Now.ToString()</dd>
                @if (User.Identity.IsAuthenticated)
                {
                    <dt>User</dt>
                    <dd>@User.Identity.Name using @User.Identity.AuthenticationType</dd>
                }
                <dt>Connection</dt>
                <dd>[@Context.Connection.RemoteIpAddress]:@Context.Connection.RemotePort - [@Context.Connection.LocalIpAddress]:@Context.Connection.LocalPort</dd>
                <dt>User languages</dt>
                <dd>@Context.Request.Headers["Accept-Language"].ToString()</dd>
                <dt>Server language</dt>
                <dd>Culture: @Thread.CurrentThread.CurrentCulture, UI: @Thread.CurrentThread.CurrentCulture</dd>
            </dl>
        </details>
    </footer>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)
</body>
</html>