@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
}

<h3 class="title is-3">@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="column is-one-third">
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="is-danger"></div>
        <div class="field">
            <label class="label">@lang["username"]</label>
            <div class="control">
                <input asp-for="Username" class="input" disabled/>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["dateofbirth"]</label>
            <div class="control">
                <input asp-for="DateOfBirth" class="input" type="Date" disabled/>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["email"]</label>
            @if (Model.IsEmailConfirmed)
            {
                <div class="control">
                    <input asp-for="Input.Email" class="input"/>
                </div>
            }
            else
            {
                <div class="control">
                    <input asp-for="Input.Email" class="input"/>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="button is-link" style="margin-top: 0.5rem">@lang["emailVerify"]</button>
                </div>
            }
            <span asp-validation-for="Input.Email" class="is-danger"></span>
        </div>
        <div class="field">
            <label class="label">@lang["teamspeak"]</label>
            <div class="control">
                <input asp-for="Input.TeamspeakUid" class="input"/>
            </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-link">@lang["save"]</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}