@page
@using Microsoft.AspNetCore.Mvc.Localization
@model PersonalDataModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="title is-3">@ViewData["Title"]</h3>
<div class="field">
    <p>@lang["description"]</p>
    <p>
        <strong>@lang["descriptionWarning"]</strong>
    </p>
</div>
<div class="field is-grouped">
    <div class="control">
        <form asp-page="DownloadPersonalData" method="post">
            <button class="button is-link" type="submit">@lang["download"]</button>
        </form>
    </div>
    <div class="control">
        <a asp-page="DeletePersonalData" class="button is-danger">@lang["delete"]</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}