@page
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering
@model ProfileModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
}

<h3 class="title is-3">@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="column is-one-third">
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="is-danger"></div>
        <div class="field">
            <label class="label">@lang["Name"]</label>
            <div class="control">
                <input asp-for="Input.Name" class="input"/>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["Country"]</label>
            <div class="control">
                <select asp-for="Input.Country" asp-Items="@((List<SelectListItem>) ViewData["Model.Input.Countries"])">
                    <option>Select One</option>
                    @foreach (var inputCountry in Model.Input.Countries)
                    {
                        <option>@inputCountry</option>
                    }
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["Biography"]</label>
            <div class="control">
                <input asp-for="Input.Biography" class="input"/>
            </div>
        </div>
        <div class="field">
            <label class="label">@lang["Headline"]</label>
            <div class="control">
                <input asp-for="Input.Headline" class="input"/>
            </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-link">@lang["save"]</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}