@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Tag

@{
    ViewData["Title"] = L["tabTitle"];
}

<h2>@L["deletePageTitle"]</h2>

<h3>@L["areYouSure"]</h3>
<div>
    <h4>@Model.TagName</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="@L["confirmButton"]"/> |
        <a asp-action="Index">@L["backToListButton"]</a>
    </form>
</div>
