@inject IViewLocalizer L
@using Microsoft.AspNetCore.Mvc.Localization
@model Tag

@{
    ViewData["Title"] = L["tabTitle"];
}

<div class="column is-centered">
    <nav class="panel">
        <div>
            <p class="panel-heading">@L["detailsPageTitle"] @Model.TagName</p>
        </div>
        <div class="panel-block">
            <dl>

                <dt class="panel-block">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="panel-block">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="panel-block">
                    @Html.DisplayNameFor(model => model.TagName)
                </dt>
                <dd class="panel-block">
                    @Html.DisplayFor(model => model.TagName)
                </dd>
            </dl>
        </div>
        <div class="panel-block">
            <a asp-action="Edit" asp-route-id="@Model.Id">
                <i class="fa fa-fw fa-edit"></i>
            </a> |
            <a asp-action="Index">@L["backToListButton"]</a>
        </div>
    </nav>
</div>