@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Tag

@{
    ViewData["Title"] = "Details";
}

<h2>@L["detailsPageTitle"]</h2>

<div>
    <h4>@Model.TagName</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">@L["backToListButton"]</a>
</div>
