@inject IViewLocalizer L
@using Microsoft.AspNetCore.Mvc.Localization
@model Tag

@{
    ViewData["Title"] = L["tabTitle"];
}

<div class="column is-centered">
    <nav class="panel">
        <div>
            <p class="panel-heading">@L["detailsPageTitle"] @Model.TagName</p>
        </div>
        <div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.TagName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => Model.Id)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Model.TagName
                    </td>
                    <td>
                        @Model.Id
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">
                <i class="fa fa-fw fa-edit"></i>
            </a> |
            <a asp-action="Index">@L["backToListButton"]</a>
        </div>
    </nav>
</div>