@using Microsoft.AspNetCore.Mvc.Localization
@model HGGM.ViewModels.EditUserViewModel
@inject IViewLocalizer lang

@{
    ViewData["Title"] = lang["title"];
}


<div class="column is-one-quarter">
    <form asp-action="Edit">
        <div class="column">
            <h1 class="title" style="margin-bottom: 2rem">@lang["header"]</h1>
            <div asp-validation-summary="All" class="is-danger"></div>
            <div class="field">
                <label class="label">@lang["nickname"]</label>
                <div class="control">
                    <input asp-for="Username" class="input"/>
                    <span asp-validation-for="Username" class="is-danger"></span>
                </div>
            </div>
            <div class="field">
                <label class="label">@lang["roles"]</label>
                @foreach (var role in Model.Roles.Keys)
                {
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" asp-for="@Model.Roles[role]"/>
                            @role
                        </label>
                    </div>
                }
            </div>
            <div class="control">
                <button type="submit" class="button is-link">@lang["save"]</button>
            </div>
            <div class="control" style="margin-top: 1rem">
                <a asp-action="Index">@lang["back"]</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}