@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<HGGM.ViewModels.UserWithRolesViewModel>
@inject IViewLocalizer lang

@{
    ViewData["Title"] = lang["title"];
}

<h2>@lang["heading"]</h2>

<p>
    <a asp-action="Create">@lang["create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@lang["username"]</th>
            <th>@lang["roles"]</th>
            <th>@lang["action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.UserName</td>
                <td>@System.String.Join(" ", item.User.Roles)</td>
                <td>
                    @Html.ActionLink(lang["edit"].Value, "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink(lang["details"].Value, "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink(lang["delete"].Value, "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }
    </tbody>
</table>
